%h1 Listing targets

%table
  %thead
    %tr
      %th Label
      %th
      %th
      %th

  %tbody
    - @targets.each do |target|
      %tr
        %td= target.label
        %td= link_to 'Show', target
        %td= link_to 'Edit', edit_target_path(target)
        %td= link_to 'Destroy', target, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Target', new_target_path
