= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .form-group
    %label.col-sm-2.control-label{:for => "type"} Type ?
    .col-sm-10
      = f.text_field :user_type, :class => "form-control"
  .form-group
    %label.col-sm-2.control-label{:for => "firs_name"} Prénom
    .col-sm-10
      = f.text_field :first_name, :class => "form-control"
  .form-group
    %label.col-sm-2.control-label{:for => "surname"} Nom
    .col-sm-10
      = f.text_field :surname, :class => "form-control"
  .form-group
    %label.col-sm-2.control-label{:for => "mail"} Email
    .col-sm-10
      = f.text_field :mail, :class => "form-control"

  .actions
    = f.submit
