%h1 Utilisateurs
= form_tag '/users/admin_edit' do
  .panel.login-panel
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Nom
            %th Prénom
            %th Mail
            %th Promo
            %th Entreprise
            %th Etat
            %th Supprimer
        %tbody
          - @users.each do |user|
            %tr{:class => ("not-validated" unless user.role!="not_validated")}
              %td= user.surname
              %td= user.first_name
              %td= user.email
              %td= user.promo
              %td= user.company.nil? ? "-" : user.company.name
              %td= select_tag "role[#{user.id}]", options_for_select({ "Elève" => "student", "Représentant" => "representative", "Admin" => "admin", "Non Validé" => "not_validated" }, user.role), {:class => 'form-control'}
              %td= check_box_tag "delete[#{user.id}]"
            = hidden_field_tag 'user_ids[]', user.id
      = submit_tag "Envoyer", {:class => 'btn btn-default'}


%br/
