%p#notice= notice
%h1 Listing Users
%table
  %thead
    %tr
      %th Type
      %th Surname
      %th First name
      %th Mail
      %th Promo
      %th Company
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_type
        %td= user.surname
        %td= user.first_name
        %td= user.mail
        %td= user.promo
        %td= user.company.name

        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
