<p id="notice"><%= notice %></p>

<h1>Listing Offers</h1>
<p><%= current_user %></p>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Target</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Creation date</th>
      <th>Start date</th>
      <th>Expiration date</th>
      <th>Contact</th>
      <th>Category</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.company_id %></td>
        <td><%= offer.title %></td>
        <td><%= offer.target %></td>
        <td><%= offer.description %></td>
        <td><%= offer.duration %></td>
        <td><%= offer.creation_date %></td>
        <td><%= offer.start_date %></td>
        <td><%= offer.expiration_date %></td>
        <td><%= offer.contact %></td>
        <td><%= offer.category_id %></td>
        <td><%= offer.active %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
