%h1 Les offres actuelles

.panel.panel-default
  .panel-heading Filtrer
  .panel-body
    .row
      %form{:action => '/offers/filter'}
        .col-md-4
          = select_tag "filter_company_id", options_from_collection_for_select(Company.all, "id", "name", @filter_company_id), :include_blank => 'Toutes les entreprises', :class => "form-control"
        .col-md-4
          = select_tag "filter_target_id", options_from_collection_for_select(Target.all, "id", "label", @filter_target_id), :include_blank => 'Tout type', :class => "form-control"
        .col-md-4
          %input.btn.btn-default{:type => 'submit'}

.list-group
- @offers.each do |offer|
  %a.list-group-item{:href => "/offers/#{offer.id}"}
    %h4.list-group-item-heading= offer.title
    %p.list-group-item-text= " de " + offer.company.name + " - à partir du " + offer.start_date.strftime("%d/%m/%Y") 
- if @offers.count == 0
  %p Aucune offre ne correspond à votre recherche
  
- if can? :create, Offer
  .right-button-container
    %a{:href => "/offers/new"}
      %button.btn.btn-primary.btn-lg Proposer une offre