%p#notice= notice
%p
  %strong Company:
  = @offer.company_id
%p
  %strong Title:
  = @offer.title
%p
  %strong Target:
  = @offer.target
%p
  %strong Description:
  = @offer.description
%p
  %strong Duration:
  = @offer.duration
%p
  %strong Creation date:
  = @offer.creation_date
%p
  %strong Start date:
  = @offer.start_date
%p
  %strong Expiration date:
  = @offer.expiration_date
%p
  %strong Contact:
  = @offer.contact
%p
  %strong Category:
  = @offer.category_id
%p
  %strong Active:
  = @offer.active
= link_to 'Edit', edit_offer_path(@offer)
|
= link_to 'Back', offers_path
