%p#notice= notice
%p
  %strong User:
  = @application.user_id
%p
  %strong Offer:
  = @application.offer_id
%p
  %strong Time:
  = @application.time
= link_to 'Edit', edit_application_path(@application)
|
= link_to 'Back', applications_path
