%h2= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions')
= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f|
  = devise_error_messages!
  .panel.login-panel
    .panel-body
      .form-group
        %label.col-sm-2.control-label{:for => "email"} Email
        .col-sm-10
          = f.text_field :email, :class => "form-control"
      .form-group.bouton-envoyer
        .col-sm-2
        .col-sm-10
          %div= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'),:class => "btn btn-default"
          = render "devise/shared/links"
