%h2= t('.sign_in', :default => "Sign in")
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
  .panel.login-panel
    .panel-body
      .form-group
        %label.col-sm-2.control-label{:for => "email"} Email
        .col-sm-10
          = f.text_field :email, :class => "form-control"
      .form-group
        %label.col-sm-2.control-label{:for => "password"} Mot de passe
        .col-sm-10
          = f.password_field :password, :class => "form-control", :autocomplete => "off"
      - if devise_mapping.rememberable?
        .form-group.lastBox
          .col-sm-2
          .col-sm-10
            = f.check_box :remember_me
            = f.label :remember_me
            %div= f.submit t('.sign_in', :default => "Sign in"), :class => "btn btn-default"
            = render "devise/shared/links"
