%p#notice= notice
%h1 Listing Companies
%table
  %thead
    %tr
      %th Name
      %th Mail
      %th Num
      %th Address
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.mail
        %td= company.num
        %td= company.address
        %td= company.description
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Company', new_company_path
